/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Beginnig of Styles */
body {
  text-align: center;
}

h1 {
  padding: 1rem;
  border-bottom: 1px black solid;
}

button {
  margin: 1rem;
}

.game-container {
  display: grid;
  grid-template: 500px / 1fr 500px 1fr;
  width: 900px;
  justify-content: center;
  margin: auto;
}

.board-container {
  border: 1px black solid;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.board-container > div {
  border: 1px black solid;
  display: grid;
  align-items: center;
  font-size: 100px;
}

.marker {
  font-size: 50px;
  margin: 0 auto;
}

.game-message {
  margin-top: 0.5rem;
}